<h1>Strains</h1>
<br>
<p>Admin Signin</p>
<%= form_tag "home/signin", method: :post do %>
	Username: <input type="text" name="username">
	<br>
	Password: <input type="passowrd" name="password">
	<br>
	<input type="submit" value="Submit">
<% end %>
<br>
