<div id="homeindex">
	<h1 id="marginidtitle">Welcome to Long Beach Flowers Delivery</h1>
	<h4 id="marginid">Please Choose Location From Above To See the list and local phone number to TEXT ONLY PLEASE.</h4>
	<p id="marginid">If you are a new patient please include a clear picture of your identification with your texted order.</p>
</div>
